/* BODY */
.add {
    gap: 60px;
}

/* ******** */


/* HEADER */
.header-text {
    padding-top: 147px;
    color: var(--dark-grey);
}

/* ******** */


/* FORM */
.form-content {
    gap: 28px;
}

.file-input {
    width: calc(90px + 3.2px * 2);
    height: calc(142px + 3.2px * 2);
    background-color: #ffffff80;
    border: 3.2px solid var(--white);
}

.image-icon {
    color: #94949491;
    font-size: 20.57px;
}

.camera-container {
    padding: 6px;
    background-color: var(--white);
    border-radius: 8px 0 8px 0;
    bottom: -3.2px;
    right: -3.2px;
}

.camera-icon {
    color: var(--dark-grey);
    font-size: 16px;
}

.inputs-container {
    padding: 0 32px;
    gap: 22px;
}

.input-content {
    color: var(--dark-green);
    font-size: 15px;
    gap: 2px;
}

input {
    border-radius: 0;
}

input,
textarea {
    width: 100%;
}

input:focus,
textarea:focus {
    outline: none;
}

.text-input {
    background-color: #7f7f7f3b;
}

.radio-container {
    flex-wrap: wrap;
    gap: 9px;
}

.radio-input {
    padding: 6px 14px;
    background-color: var(--white);
    color: var(--dark-grey);
    border: 2px solid #c4c4c43b;
    border-radius: 18px;
    box-shadow: 0 0 15px #00000029;
}

.radio-input:has(input:checked) {
    background-color: var(--dark-green);
    color: var(--light-green);
    border-color: var(--dark-green);
    box-shadow: none;
}

/* ******** */


/* FIXED */
.fixed-button {
    max-height: 61px;
    padding: 20px 26px;
    background-color: var(--white);
    box-shadow: 0 0 20px #00000029;
    position: fixed;
    top: 38px;
}

.save {
    border-radius: 31px 0 0 31px;
    right: 0;
    gap: 10px;
}

.back {
    border-radius: 0 31px 31px 0;
    left: 0;
}

.save>.icon {
    color: var(--dark-green);
    font-size: 28.8px;
}

.back>.icon {
    font-size: 23.99px;
}

.fixed-content {
    color: var(--black);
}

.save>.fixed-content {
    background: none;
    font-size: 17px;
    font-weight: 600;
}