/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;600;700&display=swap');

:root {
    font-size: 16px;

    /* Fonts */
    --dm-serif: 'DM Serif Display', serif;
    --open-sans: 'Open Sans', sans-serif;

    /* Colors */
    --white: #fff;
    --black: #1f1f1f;
    --light-black: #333;
    --dark-grey: #7f7f7f;
    --grey: #949494;
    --light-grey: #c4c4c4;
    --orange: #f5ab3d;
    --light-orange: #fdeed8;
    --dark-green: #477160;
    --green: #8eb8a8;
    --light-green: #cce0d8;
    --bg: #f7ebde;
    --success: #0072B5;
    --alert: #EF3340;
}


/* NORMALIZER */
html,
body {
    height: 100%;
}

html, textarea {
    scrollbar-width: none;
}

body {
    background-color: var(--bg);
    font-family: var(--open-sans);
}

p {
    color: var(--grey);
    font-size: 15px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

ul,
input,
textarea,
button {
    padding: 0;
    border: none;
}

/* input,
button {
    border: none;
} */

input,
textarea {
    border-radius: 5px;
}

textarea {
    resize: none;
}

button {
    background: none;
    cursor: pointer;
}

/* ******** */


/* SHORTCUTS */
.hidden {
    display: none;
}

.flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}

.jc-center {
    justify-content: center;
}

.jc-around {
    justify-content: space-around;
}

.jc-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.absol {
    position: absolute;
}

.relat {
    position: relative;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.fit-height {
    height: fit-content;
}

.fit-width {
    width: fit-content;
}

.device-width {
    width: 100vw;
}

.over-hidden {
    overflow: hidden;
}

.y-hidden {
    overflow-y: hidden;
    scrollbar-width: none;
}

.border {
    border-radius: 8px;
}

.padding {
    padding: 0 32px;
}

/* ******** */


/* GLOBAL */
.basic-body {
    display: grid;
    grid-template-rows: 300px auto;
}

.header-container {
    min-width: 320px;
    background-image: url(../img/header-bg.svg);
    background-size: contain;
    background-position: center;
}

.header-content {
    gap: 6px;
}

.header-title {
    font-family: var(--dm-serif);
    font-weight: 400;
    color: var(--light-green);
}

.header-text {
    padding-left: 22px;
    font-size: 32px;
    font-weight: 700;
}

.notif-container {
    margin-left: 30px;
    top: 25px;
    right: 30px;
    gap: 16px;
}

.notif {
    background-color: var(--white);
    color: var(--light-black);
    font-weight: 600;
    padding: 20px 30px 20px 25px;
    border-radius: 12px;
    box-shadow: 0 5px 10px #0000001a;
    gap: 16px;
}

.msg {
    border-left: 6px solid var(--success);
}

.error {
    border-left: 6px solid var(--alert);
}

.notif>.icon {
    min-width: 31px;
    height: 31px;
    color: var(--white);
    border-radius: 50%;
    display: flex;
}

.msg>.icon {
    background-color: var(--success);
}

.error>.icon {
    background-color: var(--alert);
}

.text-input {
    padding: 5px;
    color: var(--black);
}