/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;600;700&display=swap');

:root {
    font-size: 16px;

    /* Fonts */
    --dm-serif: 'DM Serif Display', serif;
    --open-sans: 'Open Sans', sans-serif;

    /* Colors */
    --white: #fff;
    --black: #1f1f1f;
    --light-black: #333;
    --dark-grey: #7f7f7f;
    --grey: #949494;
    --light-grey: #c4c4c4;
    --orange: #f5ab3d;
    --light-orange: #fdeed8;
    --dark-green: #477160;
    --green: #8eb8a8;
    --light-green: #cce0d8;
    --bg: #f7ebde;
}


/* NORMALIZER */
html,
body {
    height: 100%;
}

html {
    scrollbar-width: none;
}

body {
    background-color: var(--bg);
    font-family: var(--open-sans);
    display: grid;
    grid-template-rows: 300px auto;
}

p {
    color: var(--grey);
    font-size: 15px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul, input, button {
    padding: 0;
    border: none;
}

input, button {
    border: none;
}

input {
    width: 256px;
    border-radius: 5px;
    text-align: center;
}

input::placeholder {
    color: var(--grey);
}

button {
    background: none;
}
/* ******** */


/* SHORTCUTS */
.flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}

.jc-center {
    justify-content: center;
}

.jc-around {
    justify-content: space-around;
}

.jc-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.absol {
    position: absolute;
}

.relat {
    position: relative;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.fit-height {
    height: fit-content;
}

.fit-width {
    width: fit-content;
}

.device-width {
    width: 100vw;
}

.over-hidden {
    overflow: hidden;
}

.y-hidden {
    overflow-y: hidden;
    scrollbar-width: none;
}

.border {
    border-radius: 8px;
}

.padding {
    padding: 0 32px;
}
/* ******** */


/* GLOBAL */
.header-container {
    min-width: 360px;
    background-image: url(../img/header-bg.svg);
    background-size: contain;
    background-position: center;
}

.header-content {
    gap: 6px;
}

.header-title {
    font-family: var(--dm-serif);
    font-weight: 400;
    color: var(--light-green);
}