/* VARIANTS */
.login {
    gap: 100px;
}

.register {
    gap: 60px;
}
/* ******** */


/* HEADER */
.header-logo {
    height: 60px;
}

.header-title {
    font-size: 39px;
    line-height: 30px;
}
/* ******** */


/* FORM */
.form-container {
    gap: 32px;
}

.form-content {
    gap: 20px;
}

.inputs-container {
    gap: 11px;
}

.text-input {
    padding: 5px 0;
    color: var(--black);
}

.submit-input {
    padding: 8px 0;
    background-color: var(--dark-green);
    color: var(--light-green);
    font-size: 18px;
    font-weight: 700;
}

.link-container>p {
    color: var(--dark-grey);
}

.link-container>p>a {
    color: var(--dark-green);
    font-weight: 600;
}